#authentication-box {
    font-size: 15px;

}

#carucel
{
    position:absolute;
    top: 7.5%;
    right:5%;
    letter-spacing: 2px;
    width:65%;
}
#imagen_l
{
    width:950px;

}
.colorDesplegable
{
    background-color: #fff;

}
